.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:gray;
    position: sticky;
    top: 0;
    left: 0;
    padding-left: 20px;
    &__logo {
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        margin-left: 20px;
      }
      &__cart {
        background: #fff;
        width: 180px;
        border: none;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        margin-right:20px ;
        cursor: pointer;
        &:hover {
            opacity: 0.75;
          }
        &__title {
            font-size: 30px;
            font-weight: bold;
            color: var(--dark-color);
          }
          &__image {
            width: 30px;
            height: 30px;
            object-fit: contain;
          }
          &__counter {
            height: 40px;
            width: 40px;
            border: 1px solid var(--secondary-color);
            border-radius: 50%;
            color: var(--dark-color);
            background: var(--light-color);
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
      }


  }